//colors
$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #fff;

//breakpoints
$tablets: 768px;
$phones: 480px;

//media 
@import "_setup/media.scss";

//normalize
@import "_setup/normalize.scss";
@import "_setup/fonts.scss";
@import "_setup/layout.scss"; //обнуление стандартных свойств тегов

//blocks
@import "./blocks/_hero.scss";
@import "./blocks/_header.scss";
@import "./blocks/_nav.scss";
@import "./blocks/_btn.scss";
@import "./blocks/_scroll.scss";
@import "./blocks/_fixed-menu.scss";
@import "./blocks/_best.scss";
@import "./blocks/_reviews.scss";
@import "./blocks/_team.scss";
@import "./blocks/_menu.scss";
@import "./blocks/_map.scss";
@import "./blocks/_footer.scss";
@import "./blocks/_contacts.scss";
@import "./blocks/_social.scss";
@import "./blocks/_icons.scss";
@import "./blocks/_order.scss";
@import "./blocks/_hamburger.scss";
@import "./blocks/_radio__btn.scss";
@import "./blocks/_burger.scss";
