.btn {
  border-radius: rem(5px);
  padding: rem(10px) rem(15px);
  background: $red;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);
  font-weight: bolder;

  &--order {
    margin-left: rem(0px);
    background: transparent;
    text-transform: none;
    border-width: 0;
    font-size: rem(14px);
  }

  &--slider {
    margin-top: rem(25px);
    align-self: center;
  }
}

.mobile-menu-icon {
  display: none;
}

.btn--black {
  margin-left: rem(20px);
  display: initial;
  background-color: #2f3234;

  &-phones {
    display: none;
  }

  @include phones {
    font-size: rem(12px);
    margin-left: rem(10px);

    
  }
  
}