.footer {
  background: url(../image/backgrounds/bg_form.png);
  position: absolute;
  bottom: 0;
}

.footer__content {
  display: flex;
  // justify-content: space-between;
  align-items: center;

  @include phones {
    display: block;
    text-align: center;
  }
}





