.player__start {
  width: 0;
  height: 0;
  border: rem(11px) solid transparent;
  border-left-color: #626262;
  padding: 0;
  border-right-width: 0;
  background: transparent;
  position: absolute;
  top: rem(5px);
  left: rem(20px);
  outline: none; }
