.reviews {
  background: #000;

  @include tablets {
    // height: rem(800px);
  }
}


.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  @include phones {
    // height: auto;
  }
  
}

.reviews__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(100%);  
  position: relative;

  &:hover {
    .reviews__hover-block {
      opacity: 1;
    }
  }
  @include tablets {
    width: 50%;
    height: auto;
    background-size: cover;
    background-position-y: -113px;
    text-align: center;
  }

  @include phones {
    width: 50%;
    height: auto;
  }
}

.reviews__hover-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#454545, .5);
  opacity: 0;
  transform: scale (.8);
  transition: 0.5s;

  @include phones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .btn--black {
    display: none;
  }
  .btn--black-phones {
    display: flex;
  }

  }
}

.reviews__title {
  font-family: "Gagalin-Regular";
  color: #fff;
  padding-top: rem(30px);
  padding-left: rem(20px);
  margin-bottom: rem(30px);


  @include tablets {
    text-align: center;
    padding-top: rem(5px);
    margin-bottom: rem(5px);
    }

  @include phones {
    text-align: center;
    padding-top: rem(0px);
    margin-bottom: rem(20px);
  
  }
  
}

.reviews__text {
  color: #fff;
  margin: rem(0px) rem(20px) rem(20px) rem(20px);

  @include tablets {
    font-size: rem(14px);
    margin: rem(0px) rem(10px) rem(10px) rem(10px);

  }

  @include phones {
    display: none;
  }
  
}