.hero {
  background: url(../image/backgrounds/video-bg.png); 
  background-position-x: center; //расписал сво-ва отдельно чтобы пока не путаться.
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__pic {
  margin-right: 45px;
}

.hero__desk {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Lifehack-Medium';
  font-size: 64px;
  line-height: 64px;
}

.hero__content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.hero__text {
  margin-top: 55px;
}

.hero__conteiner {
  flex: 1;
  
}