.section__title {
  text-align: center;
  font-family: 'Gagalin-Regular';
  font-size: 72px;

  &--black {
    color: $black;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 50px;
  }

  &--yellow {
  color: $yellow;
  margin-bottom: 12px;
  text-align: start;
  }
}